
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F1E0AC;
  text-align: center;
}


.acess{
  position: absolute;
  bottom: 150px;
}
.intro{
  padding-bottom: 100px;
}


.arrow{
  width: 50px;
 position: absolute;
  bottom: -10px;


}


.me{
  width: 300px;

}

.typing.animate {
  width: 21ch;
  border-right: 0.1em solid black;
  font-family: monospace;
  font-size: 2em;
  animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before {
  content: "Hi, I'm yasiru.";
  animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "Hi, I'm yasiru. "
  }
  to {
    width: 20ch;
    content: "Hi, I'm yasiru. "
  }
}

@keyframes type3 {
  from {
    width: 20ch;
    content: "Hi, I'm yasiru. Welcome to my Website!"
  }
  to {
    width: 42ch;
    content: "Hi, I'm yasiru. Welcome to my Website!"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }
  to {
    width: 16ch;
  }
}
